.Nav {
    height: 75%;
    color: inherit;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    &__block {
        display: flex;
    }

    &__icon {
        padding-right: 10px;
    }
}