.Profile {
    margin: 20px auto;
    width: 95%;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;

    &__form {
        @media(min-width: 1200px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}