@import '../../../../variables.scss';

.Candidate {
    $self: &;

    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;

    &__header {
        display: flex;
        align-items: center;
    }

    &__nameBlock {
        padding-left: 1em;

        #{&self}__title {
            font-size: 1em;
        }

        #{$self}__fullName {
            font-size: 1.3em;
            font-weight: 600;
            display: block;
        }
    }

    &__horizontal {
        width: 90%;
        background-color: #ccc;
        height: .15em;
        border-style: none;
    }

    &__overviewBlock,
    &__skillsBlock,
    &__salaryBlock {
        margin-bottom: 1em;
    }

    &__actionBlock {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        #{$self}__save {
            color: #F783AC;
            cursor: pointer;

            &:hover {
                color: #FF6347;
            }
        }

        #{$self}__message {
            cursor: pointer;

            &:hover {
                color: #25ACDB;
            }
        }
    }
}