.cover {
    &__container {

        &--dashboard-only {
            height: fit-content;
            background-color: white;
            border-bottom-left-radius: $coverBorderBottomLeft;
            box-shadow: 3px 6px 10px -6px gray;
            margin-bottom: 15px;
            overflow: hidden;
        }

        &--front-end {
            display: flex;
            background-color: #330055;
            background-image: $coverImageBG;
            background-attachment: fixed;
            background-size: contain;
            margin-bottom: 15px;
        }
    }
}