.dashboard-menu {
    $itemColor: black;
    $itemHover: #0099FF;
    transition: .3s all ease-in;
    overflow: hidden;
    height: 0;

    @include tablet-above {
        grid-area: user-menu;
        height: initial;
    }

    &__ul-wrap {
        margin: 0;
        padding-left: 30px;
        list-style: none;
    }

    &__item {
        padding: 5px 0;
        color: $itemColor;
    }

    &__label {
        margin: 0;

        &--bottom-line {
            border-bottom: 1px solid gray;
        }
    }

    &__links {
        text-decoration: none;
        padding-left: 20px;
        color: $itemColor;

        &:hover {
            color: $itemHover;
        }
    }

    &--display-none {
        @include tablet-above {
            display: none;
        }
    }

    &--display-none-mobile {
        @include tablet-below {
            display: none;
        }
    }
}