
.about{
    margin: 0 8px;
    &__container{
        background-color: #fff;
        border: 1px solid #eee;
        padding: 8px;
    }
}

.open-positions{
    margin: 0 8px;
    &__container{
        background-color: #fff;
        border: 1px solid #eee;
        padding: 8px;
    }
}

.company-info{
    margin: 0 8px;
    &__container{
        background-color: #fff;
        border: 1px solid #eee;
        padding: 8px;
    }
}