@import '../../../partials/media-queries';

.Job {
    $self: &;
    cursor: pointer;
    width: 80%;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 15px auto;
    background-color: white;
    border-radius: 20px;
    text-align: center;

    &:hover {
        background-color: #F5F5F5;
        box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
    }

    @include tablet-above {
        display: grid;
        align-items: center;
        grid-template-columns: 10% 40% 1fr;
    }


    &__infoBlock {
        padding: 0 15px;
    }

    &__title {
        font-size: 1.25em;
    }

    &__authorPhoto {
        border-radius: 50px;
        width: 2.5em;
        height: 2.5em;
    }

    &__icon {
        padding: 10px;
        border-radius: 50%;
        background-color: gray;
        color: white;
    }

    &__author {
        display: inline-block;
        font-size: 1em;
        font-weight: 400;
    }

    &__availability {
        border-radius: 3px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 0 .35em 0;
        max-width: 12em;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: .8em;
        margin-right: 5px;

        &.-none {
            display: none;
        }
    }

    &__verified {
        margin-right: 5px;
        display: inline-block;
        font-size: .8em;

        &.-true {
            #{$self}__isVerified {
                color: rgb(2, 117, 2);
            }
        }

        &.-false {
            #{$self}__isVerified {
                color: rgb(172, 6, 6);
            }
        }
    }

    &__isVerified {
        width: fit-content;
        padding: 3px 5px;
        border-radius: 3px;
    }

    &__categories {
        margin: 0 5px;
    }
}