$mobile-above: 500px;

@mixin mobile-above {
    @media (min-width: #{$mobile-above}) {
        @content;
    }
}

.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;

    @include mobile-above {
        margin: 0;
    }

    &__link {
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        display: block;
        color: inherit;

        @include mobile-above {
            height: 100%;
            padding: 16px 10px;
            border-bottom: 4px solid transparent;
        }

        &:hover,
        &:active,
        &.active {
            color: #40A4C8;

            @include mobile-above {
                color: #455DC7;
            }
        }
    }


}