.Jobs {
    display: flex;
    flex-flow: column;

    &__edit {
        display: flex;
        align-items: center;
    }

    &__wrap {
        &.-missing {
            min-height: 100vh;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
    }
}