@import '../../../partials/media-queries';

.ProfileBanner {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__photo {
        width: 48px;
        height: 48px;
        vertical-align: middle;
        border-radius: 50%;
    }

    &__icon {
        padding: 10px;
        border-radius: 50%;
        background-color: gray;
        color: white;
    }
}