body.page-template-lofi-employer-template {
  background-color: #F7F9FC;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* components */
.cover__container--dashboard-only {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-bottom-left-radius: 50px;
  -webkit-box-shadow: 3px 6px 10px -6px gray;
          box-shadow: 3px 6px 10px -6px gray;
  margin-bottom: 15px;
  overflow: hidden;
}

.cover__container--front-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  margin-bottom: 15px;
}

.grid-layout {
  display: -ms-grid;
  display: grid;
}

.grid-layout--mobile-row-gap {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
}

@media (min-width: 768px) {
  .grid-layout--employer {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 10px;
    -ms-grid-columns: 30% 1fr 1fr 1fr;
        grid-template-columns: 30% 1fr 1fr 1fr;
        grid-template-areas: "user-menu stats stats stats" "notifications recent recent recent" "email recent recent recent";
  }
}

@media (min-width: 1024px) {
  .grid-layout--employer {
        grid-template-areas: "user-menu stats stats notifications" "email recent recent recent" "email recent recent recent";
  }
}

@media (min-width: 768px) {
  .grid-layout--edit-profile {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 10px;
    -ms-grid-columns: 30% 1fr;
        grid-template-columns: 30% 1fr;
    grid-auto-rows: 100px;
        grid-template-areas: "user-menu edit-profile" "notifications edit-profile" "email edit-profile" "recent edit-profile";
  }
}

@media (min-width: 768px) {
  .grid-layout--manage-jobs {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 10px;
    -ms-grid-columns: 30% 1fr;
        grid-template-columns: 30% 1fr;
        grid-template-areas: "user-menu manage-jobs" "notifications manage-jobs" "email manage-jobs" "recent manage-jobs";
  }
}

.stamp {
  position: relative;
  font-size: .5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
}

.stamp__tooltip {
  visibility: hidden;
  width: 120px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.stamp__tooltip--verified {
  background-color: #5DC26A;
  color: white;
  width: 150px;
}

@media (min-width: 768px) {
  .stamp__tooltip--verified {
    top: -5px;
    left: 105%;
  }
}

@media (max-width: 767px) {
  .stamp__tooltip--mobile {
    bottom: 105%;
    right: -5px;
  }
}

.stamp--verified {
  padding: 5px;
  color: #0099ff;
  background-color: #4ddbff;
  border-radius: 10px;
}

.stamp--verified:hover .stamp__tooltip {
  visibility: visible;
}

.touch-button {
  /* Component Specific Buttons */
}

.touch-button__link {
  text-decoration: none;
}

.touch-button__button {
  font-family: inherit;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.touch-button__text {
  margin: 0;
}

.touch-button--align-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.touch-button--text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .touch-button--mobile-only {
    display: none;
  }
}

.touch-button__button {
  /* Specific Buttons */
}

.touch-button__button--width-max {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.touch-button__button--post {
  font-size: 20px;
  border-radius: 5px;
  padding: 13px 8px;
  background-color: #180528;
  color: white;
  -webkit-box-shadow: 0 6px 10px -6px gray;
          box-shadow: 0 6px 10px -6px gray;
  -webkit-transition: 0.3s all cubic-bezier(0.77, 0.2, 0.1, 1);
  transition: 0.3s all cubic-bezier(0.77, 0.2, 0.1, 1);
}

.touch-button__button--post:hover {
  background-color: white;
  color: black;
}

.touch-button__button--manage, .touch-button__button--schedule {
  display: none;
}

@media (min-width: 768px) {
  .touch-button__button--manage, .touch-button__button--schedule {
    display: initial;
    background-color: transparent;
    border: 2px solid #404040;
    border-radius: 40px;
    color: #404040;
    padding: 8px;
    -webkit-transition: 0.3s all cubic-bezier(0.77, 0.2, 0.1, 1);
    transition: 0.3s all cubic-bezier(0.77, 0.2, 0.1, 1);
  }
  .touch-button__button--manage:focus, .touch-button__button--schedule:focus {
    border-color: #404040;
  }
  .touch-button__button--manage:hover, .touch-button__button--schedule:hover {
    border-color: white;
    background-color: white;
  }
}

.touch-button__button--mobile-helper {
  background-color: transparent;
  width: 100%;
}

.touch-button--email .touch-button__button {
  color: black;
  background-color: transparent;
}

.touch-button--social-profiles {
  text-align: right;
}

@media (min-width: 768px) {
  .touch-button--social-profiles {
    margin-bottom: 5%;
  }
}

.touch-button--social-profiles .touch-button__button {
  background-color: transparent;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  margin: 0 5px;
  width: 30px;
}

.touch-button--social-profiles .touch-button__button--fb {
  color: #3B5998;
}

.touch-button--social-profiles .touch-button__button--twitter {
  color: #1DA1F2;
}

.touch-button--social-profiles .touch-button__button--linkedin {
  color: black;
}

.dashboard-headline {
  padding: 10px 0;
}

@media (min-width: 768px) {
  .dashboard-headline {
    padding: 20px 0 20px 30px;
    background-image: -webkit-gradient(linear, left top, right top, from(#a1c4fd), to(#c2e9fb));
    background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
    border-bottom-left-radius: 50px;
  }
}

.dashboard-headline__figure {
  width: 100%;
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  .dashboard-headline__figure {
    text-align: left;
  }
}

.dashboard-headline__img {
  width: 100px;
  height: 100px;
}

.dashboard-headline__img--rounded {
  border-radius: 50%;
  border: 3px solid white;
  -webkit-box-shadow: 0 5px 20px 1px gray;
          box-shadow: 0 5px 20px 1px gray;
}

.dashboard-headline__username {
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .dashboard-headline__username {
    text-align: left;
    padding-left: 20px;
  }
}

.dashboard-headline__tagline {
  margin: 0;
}

.dashboard-menu {
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
  overflow: hidden;
  height: 0;
}

@media (min-width: 768px) {
  .dashboard-menu {
    grid-area: user-menu;
    height: initial;
  }
}

.dashboard-menu__ul-wrap {
  margin: 0;
  padding-left: 30px;
  list-style: none;
}

.dashboard-menu__item {
  padding: 5px 0;
  color: black;
}

.dashboard-menu__label {
  margin: 0;
}

.dashboard-menu__label--bottom-line {
  border-bottom: 1px solid gray;
}

.dashboard-menu__links {
  text-decoration: none;
  padding-left: 20px;
  color: black;
}

.dashboard-menu__links:hover {
  color: #0099FF;
}

@media (min-width: 768px) {
  .dashboard-menu--display-none {
    display: none;
  }
}

@media (max-width: 767px) {
  .dashboard-menu--display-none-mobile {
    display: none;
  }
}

.stats {
  padding: 0 20px 15px;
}

@media (min-width: 768px) {
  .stats {
    grid-area: stats;
  }
}

.stats__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 10px;
}

.stats__container--style-1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#A991FA), to(#9FACFD));
  background-image: linear-gradient(to right, #A991FA, #9FACFD);
}

.stats__container--style-2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#B0AAFE), to(#DFB7FE));
  background-image: linear-gradient(to right, #B0AAFE, #DFB7FE);
}

.stats__container--style-3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#92BEF9), to(#98D6F2));
  background-image: linear-gradient(to right, #92BEF9, #98D6F2);
}

.stats__text {
  margin: 0;
  color: white;
}

.stats__block-wrap {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.stats__icon-wrap {
  font-size: 1.6rem;
}

.notifications {
  background-color: #EFF3F6;
}

@media (min-width: 768px) {
  .notifications {
    grid-area: notifications;
  }
}

.notifications__text-container {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  border-bottom-left-radius: 0;
  padding: 5px 0 5px 25px;
  margin: 0 10px 10px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .notifications__text-container {
    margin: 0 0 10px 0;
  }
}

.notifications__area-container {
  height: 0;
  overflow: hidden;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
}

@media (min-width: 1024px) {
  .notifications__area-container {
    height: initial;
  }
}

.notifications__button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.notifications__text {
  margin: 0;
  padding-left: 10px;
  color: white;
}

.email {
  background-color: #EFF3F6;
}

@media (min-width: 768px) {
  .email {
    grid-area: email;
  }
}

.email__container {
  margin: 0 10px 10px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .email__container {
    margin: 0 0 10px 0;
  }
}

.email__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  border-bottom-left-radius: 0;
  padding: 5px 0 5px 25px;
  overflow: hidden;
}

.email__text {
  margin: 0;
  padding-left: 10px;
  color: white;
}

.email__button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.email__targets-container {
  height: 0;
  overflow: hidden;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
}

.email__height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent {
  background-color: #EFF3F6;
}

@media (min-width: 768px) {
  .recent {
    grid-area: recent;
  }
}

.recent__container {
  margin: 0 10px 10px;
  border-radius: 5px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .recent__container {
    margin: 0 0 10px 0;
  }
}

.recent__text-container {
  background-color: black;
  border-bottom-left-radius: 0;
  padding: 5px 0 5px 25px;
  overflow: hidden;
}

.recent__text {
  margin: 0;
  padding-left: 10px;
  color: white;
}

.recent__activities-container {
  height: 300px;
}

@media (min-width: 768px) {
  .manage-jobs {
    grid-area: manage-jobs;
  }
}

.manage-jobs__container {
  margin: 0 10px 10px;
  border-radius: 5px;
  background-color: #EFF3F6;
  overflow: hidden;
}

@media (min-width: 768px) {
  .manage-jobs__container {
    margin: 0 0 10px 0;
  }
}

.manage-jobs__text-container {
  background-color: black;
  border-bottom-left-radius: 0;
  padding: 5px 0 5px 25px;
  overflow: hidden;
}

.manage-jobs__text {
  margin: 0;
  padding-left: 10px;
  color: white;
}

.profile-headline {
  padding: 10px 0;
  background-color: transparent;
  width: 100%;
}

.profile-headline__figure {
  width: 100%;
  text-align: center;
  margin: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .profile-headline__figure {
    height: 200px;
    text-align: initial;
  }
}

.profile-headline__img {
  width: 100px;
  height: 100px;
}

.profile-headline__img--rounded {
  border-radius: 50%;
  border: 3px solid white;
  -webkit-box-shadow: 0 5px 20px 1px gray;
          box-shadow: 0 5px 20px 1px gray;
}

@media (min-width: 768px) {
  .profile-headline__img {
    position: relative;
    top: calc(200px - 106px/2);
    left: 10%;
  }
}

.profile-headline__username {
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .profile-headline__username {
    text-align: left;
  }
}

.profile-headline__tagline {
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .profile-headline__tagline {
    text-align: left;
  }
}

.profile-headline__grid-wrap {
  background-color: white;
  -webkit-box-shadow: 0 5px 10px -5px gray;
          box-shadow: 0 5px 10px -5px gray;
  padding: 8px;
  margin: 0 8px;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .profile-headline__grid-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 55% 15%;
        grid-template-columns: 30% 55% 15%;
  }
}

.profile-headline__grid-area-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.profile-headline__grid-area-social {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 /4;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact-info--mobile-grid {
    display: -ms-grid;
    display: grid;
    padding: 20px 0;
    font-size: 13px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "website phone" "email email";
  }
  .contact-info--mobile-grid .contact-info__block-wrap {
    text-align: center;
  }
  .contact-info--mobile-grid .contact-info__block-wrap--1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: website;
  }
  .contact-info--mobile-grid .contact-info__block-wrap--2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: phone;
  }
  .contact-info--mobile-grid .contact-info__block-wrap--3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: email;
  }
}

.social-profiles--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .social-profiles--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-right: 5px;
  }
}

.about {
  margin: 0 8px;
}

.about__container {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 8px;
}

.open-positions {
  margin: 0 8px;
}

.open-positions__container {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 8px;
}

.company-info {
  margin: 0 8px;
}

.company-info__container {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 8px;
}
/*# sourceMappingURL=employer-account.css.map */